<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BibliotecaTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Parametri ovviamente da adattare alle necessità se si vuole provare l'app -->
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/biblioteca</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>mizuiro</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.luca.biblioteca.administration.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlPanelServlet</display-name>
    <servlet-name>ControlPanelServlet</servlet-name>
    <servlet-class>it.luca.biblioteca.administration.ControlPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlPanelServlet</servlet-name>
    <url-pattern>/ControlPanelServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AggiornaUtenteServlet</display-name>
    <servlet-name>AggiornaUtenteServlet</servlet-name>
    <servlet-class>it.luca.biblioteca.management.utente.AggiornaUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaUtenteServlet</servlet-name>
    <url-pattern>/controlpanel/aggiornaUtente</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreaUtenteServlet</display-name>
    <servlet-name>CreaUtenteServlet</servlet-name>
    <servlet-class>it.luca.biblioteca.management.utente.CreaUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaUtenteServlet</servlet-name>
    <url-pattern>/controlpanel/creaUtente</url-pattern>
  </servlet-mapping>
</web-app>